$dark-color: #282c34;
$gray-color: #a5a5a5;
$primary-color: #ff00a4;
$light-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);
$star-color: #305d02;
$background-green-color: rgba(63, 126, 0, 0.08);
$font-family: Tahoma;

.__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.__cover-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.App {
  background-color: $dark-color;
  min-height: 100vh;
  direction: rtl;
  font-family: $font-family;
  color: $dark-color;
}

.container {
  min-height: 100vh;
  @extend .__container;
}

.link {
  text-decoration: none;
  color: $light-color;
  border-bottom: 1px solid $light-color;
}

.buttonLink {
  @extend .link;
  font-size: 2em;
  border: 1px solid $primary-color;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: $primary-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
    background-color: $light-color;
    border-color: $light-color;
  }
}

.card-container {
  width: 100%;
  margin-top: 50px;
  @extend .__container;
}

.card {
  width: calc(100% - 60px);
  max-width: 500px;
  margin: 20px 30px;
  height: 300px;
  background-color: $light-color;
  border-radius: 6px;
  box-shadow: 0 3px 5px #000;
  position: relative;
  overflow: hidden;
}

.card-cover {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  img {
    @extend .__cover-img;
  }
}

.card-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 10px;
  bottom: 43%;
  border-radius: 6px;
  box-shadow: 0 3px 5px $shadow-color;
  overflow: hidden;
  img {
    @extend .__cover-img;
  }
}

.card-body {
  width: calc(100% - 30px);
  height: calc(50% - 55px);
  padding: 40px 15px 15px;
  font-size: .9em;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 1.1em;
      font-weight: bold;
      @extend .desc;
    }
    .rate {
      @extend .header;
      align-items: center;
      flex-wrap: wrap;
      direction: ltr;
      color: $gray-color;
      span:first-of-type {
        margin-right: 5px;
        color: $star-color;
        background-color: $background-green-color;
        padding: 2px;
        border-radius: 4px;
      }
    }
  }
  .footer {
    @extend .header;
    .delivery {
      @extend .header;
      span:first-of-type {
        margin-left: 5px;
        color: $gray-color;
      }
    }
  }
  .desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}